FURIOSA_BASE_URL=https://endpoint.access.furiosa.dev/v1

FURIOSA_EMBEDDING_ENDPOINT=/embeddings
FURIOSA_EMBEDDING_API_KEY=
FURIOSA_EMBEDDING_MODEL=furiosa-ai/Qwen3-Embedding-8B

FURIOSA_CHAT_ENDPOINT=/chat/completions
FURIOSA_CHAT_API_KEY=
FURIOSA_CHAT_MODEL=furiosa-ai/gpt-oss-120b
